@using MovieManager.Models
@using Newtonsoft.Json

@model List<Media>

@{
    string mediaList = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<div>
    <table id="mediaTable" class="table table-striped table-wrap table-responsive" data-tabledata="@mediaList">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>IMDB Rating</th>
                <th>Year Started</th>
                <th>Year Ended</th>
                <th>Genre</th>
                <th>Starring</th>
                <th>
                    <img class="" src="../Content/images/IMDB_Logo.svg" alt="IMDB Link" width="40" height="22">
                </th>
                <th>Options</th>
            </tr>
        </thead>
    </table>
</div>

<form id="saveForm" method="post" action="/Import/SaveImportedMedia">
    <input type="hidden" name="json" id="json" />
</form>

<div>
    <button class="btn btn-primary" onclick="Table.SaveImportedData()">Save</button>
</div>

@Html.Partial("EditMediaModal", new Media())

<script src="~/Scripts/jquery-3.7.0.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
<script src="~/Scripts/DataTables/dataTables.select.js"></script>
<script src="~/Scripts/DataTable.js"></script>
<script src="~/Scripts/editMedia.js"></script>
